.goods {
  background: url('../img/section-bg.svg');
}

.categories {
  padding-top: 120px;
  padding-bottom: 170px;
}

.categories__header {
  padding-bottom: 30px;
}

.categories-slider {
  background: transparent;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: '';
    width: 27%;
    height: 97%;
    z-index: 100;
  }

  &::after {
    top: 0;
    right: 0;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 76%);
  }

  &::before {
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 76%);
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 110;
    font-size: 0;
    width: 16px;
    height: 33px;
    border: 0;
    outline: none;
    margin: -16.5px 0px 0px 0px;
    cursor: pointer;
  }
}

.categories-slider .slick-arrow.slick-prev {
  left: 99px;
  background: url('../img/svg/categories-slider/arrow-left.svg') 0 0 / 100% no-repeat;
}

.categories-slider .slick-arrow.slick-next {
  right: 99px;
  background: url('../img/svg/categories-slider/arrow-right.svg') 0 0 / 100% no-repeat;
}

.slick-slide .categories-slider__item {
  position: relative;
}

.categories-slider__item__bg {
  position: relative;
}

.categories-slider__item__center-photo {
  img {
    margin: 0 auto;
  }
}

.categories-slider__item__center {
  position: absolute;
  content: '';
  left: 25%;
  top: 8%;
  right: 25%;
  z-index: 100;
}

.categories-slider__item__text {
  padding-top: 25px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #FFFFFF;
    transition: text-fill-color 0.3s ease;
    outline: none;
    &:hover {
    -webkit-text-fill-color: #FFFFFF;
    -webkit-text-stroke-width: auto;
    -webkit-text-stroke-color: #FFFFFF;
    }
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slide {
  outline: none;
  border: none;
}

.selected {
  padding-bottom: 154px;
}

.selected__header {
  padding-bottom: 30px;
}

.selected-goods__inner {
  display: flex;
  min-width: 0;
  flex-direction: row;
}

.selected-goods__main-screen {
  position: relative;
  min-width: 0;
  width: 100%;
  margin-right: 30px;

  .slick-arrow {
    position: absolute;
    content: '';
    bottom: 50px;
    z-index: 1000;
    font-size: 0;
    width: 16px;
    height: 33px;
    border: 0;
    outline: none;
    margin: -16.5px 0px 0px 0px;
    cursor: pointer;
  }
}

.selected-goods__main-screen__item {
  position: relative;
  min-width: 0;
}

.selected-goods__main-screen .slick-arrow.slick-prev {
  opacity: 0;
  width: 0;
  height: 0;
}

.selected-goods__main-screen .slick-arrow.slick-next {
  background: url('../img/svg/categories-slider/arrow-right.svg') 0 0 / 100% no-repeat;
  right: 50px;
  transform: rotate(5deg);
}

.selected-goods__main-screen__item__photo {
  img {
    width: 100%;
  }
}

.selected-goods__main-screen__item__link {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

.selected-goods__main-screen__item__text {
  position: absolute;
  content: '';
  top: 60px;
  right: 72px;
  min-width: 0;
  text-align: end;
}

.selected-goods__main-screen__item__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
}

.selected-goods__main-screen__item__subtitle {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  font-weight: 400;
}

.selected-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selected-categories__item {
  background: #151515;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 45%;
  height: 45%;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    background: #F2F2F2;

    .selected-categories__item__link {
      color: #000000;
      text-decoration: underline;
    }
  }

  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  &__name {
    padding: 21px 42px 29px 42px;
    text-align: center;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    font-weight: 400;
  }

  &__img {
    padding: 29px 66px 0px 66px;

    img {
      margin: 0 auto;
    }
  }

  &__link {
    text-decoration: none;
    color: #FFFFFF;
  }
}